body {
    color: #222;
}

a:hover {
    text-decoration: none;
}

.card {
    border: none;
    margin-bottom: 1rem;
}

.blockquote {
    border: 0;
}

.navbar-brand.h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.navbar .btn-toolbar {
    position: absolute;
    top: 17px;
    right: 15px;
}

.navbar-brand a {
    color: #fff;
}

.social-media a {
    color: inherit;
}

.navbar-brand a:hover,
.social-media a:hover {
    color: #999;
}

.tinted-image-container {
    position: relative;
}

.img-tint {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    content: "";
}

.coffee {
    margin-top: 5rem;
    opacity: .1;
    text-align: center;
}

@media (max-width: 575px) {
    .navbar-toggleable > .container {
        margin-left: 0;
    }
}
